body{
  background-image: url("../Imagenes/Netflix-Background.jpg");
  width: 100%;
  margin: 0 auto;
}
/* nav bar */

.form-inline {
    display: flex;
    overflow: hidden;
  align-items: center;
}
.elementsnavbar{
  float: right;
  margin-right: 20px;
  /* border-color: black; */
  /* color: red; */
  /* background-color: black; */
}
.btn-outline-success:hover {
    /* color: red; */
    /* background-color: black; */
    /* border-color: black; */
}
.boton{
  float: right;
  /* color: red; */
  /* border-color: black; */
  /* background-color: black; */
}
.btn-outline-success {
    /* border-color: black; */
    /* background-color: black; */
    /* color: red; */
}

/* login */

.form-signin{
  margin-top: 10%;
}
.h3{
  color: white;
}
#minion{
  color: white;
}
#botonn{
  background-color: black;
  border-color: black;
  color: red;
  width: 40%;
  margin-left: 30%;
}
#inputEmail{
  width: 40%;
  margin-left: 30%;
}
#inputPassword{
  width: 40%;
  margin-left: 30%;
}
#wity{
  color: white;
}

#signin{
  color: red;
}
