body{
  width: 100%;
  background-color: #303030;
}

h1{
  text-decoration: underline;
  color:white;
  font-size: 40px;
  margin: 0px 0px 6px;
}

p{
  color:white;
}
.btn.btn-danger.dropdown-toggle{
  margin: 1px 1px 1px;
  margin-bottom: 2px;
}
.btn.btn-danger.dropdown-toggle:after{
  content: " + ";
}

a{
  color:white;
}
.dropdown-menu{
  background-color: grey;
  color:white;
}

.form-inline{
  flex-flow: row;
  margin-left: 45%;
}
.btn-outline-success {
color: #dc1a28;
border-color: #dc1a28;
padding-right: 6px 12px;
margin: 10px;
}
.btn-outline-success:hover {
color: white;
border-color: #dc1a28;
padding-right: 6px 12px;
margin: 10px;
background-color: red;
}
