.form-control{
  margin-left: 50px;
  margin-right: 30px;
}
#postflixlogo{
  margin-top: 24px;
  margin-left: 20px;
}
#middletitle{
  margin-top: 7%;
  background-image: url(proyecto-integral-master/Imagenes/fondo perfil.jpg);

}
.sidebar-sticky{
  margin-top: 40%;
  height:700px;
}
.nav-link{
  color: white;
}
#cuerpo{
  background-image: url(proyecto-integral-master/Imagenes/fondo perfil.jpg);
}
#minititle{
  padding-top: 20px;
}
