body{
  width: 100%;
  background-color: black;
}

h1{
  text-decoration: underline;
  text-align: center;
  color:white;
  font-size: 50px;
  margin: 0px 0px 8px;
}
h2{
  text-align: center;
  color:white;
  font-size: 30px;
}

a{
  color:white;
}

button{
  width:100%;
  background-color: #303030;
  color: white;
  margin-top: 1%;
}


.card-body{
  width:100%;
  background-color: #303030;
  color:white;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 1%;
}

.btn-danger{
  width: 25%;
  color:white;

}
