body{
  width: 100%;
  background-color: black;
}

h1{
  text-align: center;
  color:white;
  font-size: 40px;
  margin: 0px 0px 8px;
}

button{
  width:100%;
  background-color: grey;
  color: white;
}

.card-body{
  width:100%;
  background-color: grey;
  color:white;
  text-align: justify;
}
  
.btn-danger{
  width: 25%;
  color:white;

}
