body{
  background-image: url(https://github.com/gallol/proyecto-integral/blob/master/proyecto-integral-master/Imagenes/Netflix-Background.jpg?raw=true);
  width: 100%;
  margin: 0 auto;
}
.form-signin{
  margin-top: 10%;
}
.h3{
  color: white;
}
#minion{
  color: white;
}
#boton{
  background-color: black;
  border-color: black;
  color: red;
}
#inputEmail{
  width: 40%;
  margin-left: 30%;
}
#inputPassword{
  width: 40%;
  margin-left: 30%;
}
#wity{
  color: white;
}
#boton{
  width: 40%;
  margin-left: 30%;
}
